extends layout

block content
  img(src="images/hero.jpg" style="position: relative; width:100%; z-index:-1")
  div(style=" z-index:10; background-color:rgba(25,25,35); color:white; padding:25px 100px 25px 100px;text-align:center;")
    p As a whole, the word "metaverse" generally refers to a virtual world that lies beyond, on top of, or is an extension of the physical world. The word was coined in a 1992 dystopian sci-fi novel, Snow Crash, written by Neal Stephenson Here are significant business and commercial interests in metaverse-related research and technology. Facebook bought VR company Oculus in 2014, looking to build a new 3-D social space with "connective tissue" to bridge the gap between varying services. 

